#castle
	#table
	.shade-wrap.hover-animation#main
		#flower-wrap
			#stem
			#petal1
			#petal2
			#petal3
			#petal4
			#petal5
			#falling-petal
			#leaf1
			#leaf2
	.shade-wrap#sub
		#shade-main-reflections
		#shade-main
			#shade-handle-big
			#shade-handle-small
			#top-reflection
			#bottom-shade